@page "/"

@using Newtonsoft.Json

@using RayTracer.Core
@using RayTracer.Core.Scenes
@using RayTracer.Core.Settings

<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-lg-6">
            <div class="d-flex align-items-center justify-content-center editor">
                <div class="col-md-10 p-3">
                    <div class="card">
                        <div class="card-header">
                            Ray Tracer
                        </div>
                        <div class="card-body">
                            <EditForm Model="@Settings" OnValidSubmit="@HandleValidSubmit">
                                <DataAnnotationsValidator />
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label>@nameof(Settings.Json)</label>
                                        <div>
                                            <InputTextArea @bind-Value="@Settings.Json" class="form-control" rows="12" />
                                            <ValidationMessage For="@(() => Settings.Json)" />
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-large btn-primary">
                                    Render
                                </button>
                            </EditForm>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="https://github.com/adamstirtan/raytracer">
                                <span class="oi oi-code"></span> https://github.com/adamstirtan/raytracer
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-flex align-items-center render">
                <img class="img-fluid rounded mx-auto p-3" src="@ImageData" />
            </div>
        </div>
    </div>
</div>

@code
{
    protected int Width = 1024;
    protected int Height = 768;

    protected string ImageData = "https://placehold.it/1024x768";

    protected RenderSettings Settings = new RenderSettings
    {
        Json = JsonConvert.SerializeObject(new SphereScene(), Formatting.Indented)
    };

    private void HandleValidSubmit()
    {
        var engine = new Engine();

        engine.LoadScene(new SphereScene());

        var render = engine.Render(Width, Height);

        if (render != null)
        {
            ImageData = render;
        }
    }
}