@page "/"

@using Newtonsoft.Json

@using RayTracer.Client.Models
@using RayTracer.Core
@using RayTracer.Core.Scenes

<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-lg-6">
            <div class="d-flex align-items-center justify-content-center editor">
                <div class="col-md-10 p-3">
                    <div class="card">
                        <div class="card-header">
                            Ray Tracer
                        </div>
                        <div class="card-body">
                            <EditForm Model="@Configuration" OnValidSubmit="@HandleValidSubmit">
                                <DataAnnotationsValidator />
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label>@nameof(Configuration.Json)</label>
                                        <div>
                                            <InputTextArea @bind-Value="@Configuration.Json" class="form-control" rows="12" />
                                            <ValidationMessage For="@(() => Configuration.Json)" />
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-large btn-primary">
                                    Render
                                </button>
                            </EditForm>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="https://github.com/adamstirtan/raytracer">
                                <span class="oi oi-code"></span> https://github.com/adamstirtan/raytracer
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-flex align-items-center render">
                <img class="img-fluid rounded mx-auto p-3" src="@ImageData" />
            </div>
        </div>
    </div>
</div>

@code
{
    private Engine _engine = new Engine();

    protected string ImageData = "https://placehold.it/800x600";

    protected EngineConfiguration Configuration = new EngineConfiguration
    {
        Json = JsonConvert.SerializeObject(new SphereScene())
    };

    private void HandleValidSubmit()
    {
        _engine.LoadScene(new SphereScene());

        var stopwatch = new System.Diagnostics.Stopwatch();
        stopwatch.Start();

        var render = _engine.Render(800, 600);

        stopwatch.Stop();

        Console.WriteLine($"Render took {stopwatch.ElapsedMilliseconds}ms");

        if (render != null)
        {
            ImageData = render;
        }
    }
}